/* Website navigation settings */

.navbar ul, .navbar li {
    margin: 0;
    padding: 0;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #25E0E6;
    display: flex;
    font-family: 'Belgrano', sans-serif;
    align-items: center;
    padding: 0 10px;
}

.navbar-title {
    color: white;
    padding: 14px 16px;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-links li a:hover {
    background-color: #1FC0C4;
}

.active-link {
    background-color: #17258F;
}