body {
  background-color: #A1D2ED;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.press-start {
  font-family: 'Press Start 2P', sans-serif;
  /* text-decoration: underline; */
  text-align: center;
  color: #000000;
}

.silkscreen {
  font-family: 'Silkscreen', sans-serif;
  color: #000000;
}

.p {
  font-family: 'Belgrano', sans-serif;
  color: #000000;
  font-size: 20px;
}

.basis {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-style: solid;
  align-items: center;
  border-radius: 10px;
}

.member {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 40px 0;
}

.member img {
  width: 250px;
}

.member-text {
  text-align: left;
  max-width: 600px;
}

.member.left {
  flex-direction: row;
}

.member.right {
  flex-direction: row-reverse;
}