body {
  background-color: #75AFD9;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.press-start {
  font-family: 'Press Start 2P', sans-serif;
  color: #000000;
  font-size: 30px;
}

.silkscreen {
  font-family: 'Silkscreen', sans-serif;
  color: #000000;
  font-size: 30px;
}

.belgrano {
  font-family: 'Belgrano', sans-serif;
  color: #000000;
  font-size: 20px;
}